# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\AI_coding\DL_NLP_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
